body {
    margin: 20px auto;
    font-family: 'Lato';
    font-weight: 600;
    width: 600px;
    text-align: center;
  }
  
  #line-container {
      width: 300px;
      height: 40px;
      margin: 50px auto;
  }
  
  #circle-container {
      width: 200px;
      height: 200px;
      margin: 50px auto;
  }
  
  #semi-container {
      width: 200px;
      height: 100px;
      margin: 50px auto;
  }
  
  .progress-text {
    font-size: 1.25em;
    color: black;
    margin-bottom: 1em;
    font-weight: 600;
  }